{
  /*"retainLines": true,
  "compact": true,
  "comments": false,
  "sourceMaps": false,
  "plugins": [
    "transform-regenerator",
    "syntax-flow"
  ]
  /*"presets": [
    "react",
    "es2015"
  ]*/
}